<div class="row mt-3">
    <div class="col-3"></div>
    <div class="col">
        <h1>Lista de propiedades</h1>
    </div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col">

        <div class="row">
            <div class="col-6 mb-2"
                *ngFor="let item of propiedades">
                <div class="card">
                    <app-mini-mapa [lngLat]="item.lngLat"
                        class="card-img-top"></app-mini-mapa>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.titulo }}</h5>
                        <div class="card-text">{{ item.descripcion }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>