<div #mapa class="mapa-container"></div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            <pre><b>Zoom:</b> {{ zoomLevel | number:'2.2-2' }} - <b>Lng, Lat:</b> [ {{ center.lng | number:'2.4-4' }}, {{ center.lat | number:'2.4-4' }} ]</pre>
        </label>
        <input type="range" 
            class="form-range"
            [value]="zoomLevel"
            min="0"
            max="18"
            (input)="zoomCambio(zoomInput.value)"
            #zoomInput>
    </div>

    <div class="col-12">
        <button 
            (click)="zoomOut()"
            class="btn btn-primary">
            <b>-</b>
        </button>
        <button
            (click)="zoomIn()"
            class="btn btn-primary float-end">
            <b>+</b>
        </button>
    </div>
</div>