<ul class="list-group">
    <li class="list-group-item list-group-item-info"
        (click)="agregarMarcador()">
        + Agregar
    </li>
    <li class="list-group-item"
        *ngFor="let item of marcadores; let i = index;"
        (click)="irMarcador(item.marker!)"
        [ngStyle]="{
            backgroundColor: item.color
        }">
        Marker {{ i + 1 }}
        <button class="btn btn-close" [ngStyle]="{ fontSize: '9px' }"
            (click)="borrarMarcador(i)"></button>
    </li>
</ul>

<div #mapa class="mapa-container"></div>